body {
	background: white;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.loader-con {
	width: 100%;
	min-height: 100%;
	background-color: lightgray;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.slide-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	min-height: 100%;
	background-color: rgb(162, 165, 164);
	z-index: 1;
}
.slide-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	min-height: 100%;
	background-color: rgb(162, 165, 164);
	z-index: 1;
}
.loader {
	position: absolute;
	top: 50%;
	left: 45%;
	z-index: 1;
}

/*start nav coding*/

#menu,
.slicknav_menu,
.desk-menu {
	display: none;
}
@media screen and (max-width:992px) {
	.slicknav_menu {
		display: block;
	}
}
@media screen and (min-width:992px) {
	.desk-menu {
		display: block;
	}
}

/*start desktop coding*/

.desk-menu {
	list-style: none;
	width: 100%;
	height: 70px;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	padding: 15px;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.brand-name {
	float: left;
}
.brand-name li a {
	color: #FF0E0F;
	font-size: 28px;
	font-family: font-family: 'Grenze', serif;
	font-weight: bold;
}
.top-right-nav li {
	display: inline-block;
	padding: 10px;
	margin: 0px 12px;
}
.top-right-nav li a {
	font-family: Verdana;
	color: rgb(0, 0, 0);
	font-weight: bold;
}
.top-right-nav li:hover {
	background-color: red;
	transition: 1s
}
.top-right-nav li:hover a {
	color: #fff;
}
.top-right-nav {
	float: right;
}

/*end desktop code*/


/* start big heder coddeing*/

@media screen and (min-width:992px) {
	.big-slider {
		top: 50px;
		z-index: -1;
	}
}
@media screen and (max-width:992px) {
	.big-slider {
		top: 0;
		z-index: -1;
	}
}
.slider-label {
	width: 100%;
	height: 1130px;
	float: left;
	margin-top: -1080px;
}
.picone-header {
	margin-top: 675px;
	font-size: 38px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgb(255, 102, 102);
	display: none;
}
.picone-btn {
	width: 105px;
	border: none;
	padding: 15px;
	font-weight: bold;
	margin-top: 10px;
	background: #42def3;
	display: none;
}
.picone-btn a {
	color: white;
}

/* start pictwo label*/

.pictwo-header {
	margin-top: 650px;
	font-size: 80px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	display: none;
}
.pictwo-para {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 50px;
	color: yellow;
	display: none;
}
.pictwo-btn {
	background: deeppink;
	padding: 15px;
	border: none;
	box-shadow: 0px 0px 5px #fff;
	display: none;
	margin-top: 20px;
	font-weight: bold;
}
.pictwo-btn a {
	color: #fff;
}

/*end pictwo label*/

@media screen and (max-width:321px) {
	.slicknav_brand {
		font-size: 22px;
	}
	.slider-label {
		width: 100%;
		height: 180px;
		float: left;
		margin-top: -180px;
	}
	.picone-header {
		margin-top: 50px;
		font-size: 18px;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		color: rgb(255, 102, 102);
		display: none;
	}
	.picone-para {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 20x;
		color: yellow;
		display: none;
	}
	.picone-btn {
		width: 75px;
		border: none;
		padding: 5px;
		margin-top: 20px;
		background: #42def3;
		display: none;
		font-size: 12px;
	}
	.picone-btn a {
		color: white;
	}
	.pictwo-header {
		margin-top: 50px;
		font-size: 25px;
		font-family: Arial, Helvetica, sans-serif;
		color: #fff;
		display: none;
	}
	.pictwo-para {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 18px;
		color: yellow;
		display: none;
	}
	.pictwo-btn {
		background: deeppink;
		padding: 5px;
		border: none;
		box-shadow: 0px 0px 5px #fff;
		display: none;
		margin-top: 20px;
		font-size: 12px;
	}
	.pictwo-btn a {
		color: #fff;
	}
}

/*start project slider*/

.project-header {
	text-align: center;
	color: #323232;
	font-size: 40px;
	margin-top: 70px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slider {
	width: 80%;
	margin: 45px auto;
}
.slick-slide {
	margin: 0px 40px;
}
.slick-slide img {
	width: 100%
}
.slick-prev:before,
.slick-next:before {
	color: red;
	font-size: 40px;
}
.slick-prev {
	margin-top: -10px;
	margin-left: -20px;
}
.slick-next {
	margin-top: -10px;
}
.slick-active {
	opacity: .4;
}
.slick-current {
	opacity: 1;
}
.slick-slide {
	transition: all ease-in-out .3s;
}

/*end project slider*/


/* about me css*/

.about-me {
	width: 100%;
	float: left;
	margin: 60px 0px;
	background-color: #fff;
	padding-left: 50px;
}
.my-pic {
	width: 30%;
	float: left;
	display: none;
}
.about-text {
	display: none;
	width: 70%;
	float: left;
	padding: 20px 80px;
	margin: 0;
}
.check {
	position: fixed;
	bottom: 0;
	left: 0;
}
.web-design,
.graphic-design,
.online-mkt,
.seo {
	float: left;
	margin-right: 60px;
	margin-bottom: 20px;
}
.web-design h2,
.graphic-design h2,
.online-mkt h2,
.seo h2 {
	font-size: 19px;
}
.aboutme-header,
.web-design h2,
.graphic-design h2,
.online-mkt h2,
.seo h2 {
	font-family: cursive;
	margin-top: 0;
	margin-bottom: 0;
	color: #323232;
}
.about-text p {
	font-size: 15px;
	font-family: Verdana;
}
.about-skills {
	float: left;
	width: 40%;
	clear: left;
	margin-left: 5%;
	margin-right: 5%;
	padding: 30px 50px;
}
.about-skills h2 {
	color: #ff2dca;
	padding: 15px 0;
}
.about-skills button {
	padding: 15px;
	border: 1px solid #ccc;
	background: #FF0E0F;
	margin: 10px 0;
}
.about-skills button a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.skill-bar {
	float: left;
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 30px 50px;
}
.skill-bar h2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #323232;
	padding: 0;
	margin: 0;
	font-size: 18px;
}
.progress-bar {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-bottom: 25px;
	float: left;
}
.progress-one,
.progress-two,
.progress-three,
.progress-four,
.progress-five {
	width: 0%;
	text-align: center;
	font-family: sans-serif;
	font-size: 15px;
	color: #fff;
}
.progress-one {
	background: #00ff2a;
	border: 1px solid #00ff2a;
}
.progress-two {
	background: Cyan;
	border: 1px solid Cyan;
}
.progress-three {
	background: red;
	border: 1px solid red;
}
.progress-four {
	background: blue;
	border: 1px solid blue;
}
.progress-five {
	background: orange;
	border: 1px solid orange;
}
.progress-one {
	background: #00ff2a;
	border: 1px solid #00ff2a;
}

/*about css end*/


/*start people say part*/

.people-say h1 {
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 4vw;
	color: deeppink;
	margin-bottom: 30px;
}
.man1,
.man2,
.man3 {
	font-size: 2vw;
	width: 30%;
	border: 2px solid #ddd;
	float: left;
	border-radius: 20px;
	padding: 15px;
	margin-left: 30px;
	margin-bottom: 80px;
}
.people-say img {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	border: 2px solid #000;
	float: left;
}
.people-name {
	font-size: 18px;
	padding: 5px;
	margin: 8px;
	float: left;
	width: 65%;
}
#p-1,
#p-2,
#p-3 {
	margin-top: 20px;
	float: left;
	font-family: cursive;
	font-size: 1.5vw;
}
.people-name h2 {
	font-size: 3vw;
}

/*end people say*/


/*start footer*/


/*problem---when i am applying css to the div element having class contacts then  class what-people-say is also converting with the same colors------------------------*/

footer{
	background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	width:100%;
	height: 500px;
}
footer h1{
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 30px;
}
#form{
	padding: 30px;
	width: 50%;
	height: 300px;
	border: 2px solid #fff;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	float: left;
}
input[type="text"]
{
	margin-top: 20px;
	width: 200px;
	height: 40px;
	padding: 20px;
	margin-bottom: 20px;
}
input[type="email"]
{
	width: 200px;
	height: 40px;
	padding: 20px;;
	margin-left: 2px;
}
input[type="submit"]
{
	width: 80px;
	height: 40px;
	border: 2px solid #fff;
	background: transparent;
	margin: 0;
	margin-left: 300px;
	margin-top: 30px;
	color: #fff;
}
.social{
	padding: 30px;
	width: 50%;
	height: 300px;
	font-size: 40px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	float: left;

}
.social p{
	margin-left: 220px;
}
#icon{
	margin-left: 100px;
	margin-top: 40px;
}
#icon i{
	padding: 10px;
}
/*end footer*/
